@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F7F7F8;
    color: #111;
}

.navbar{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    padding: 15px 25px;
    gap: 20px;

}

.navbar-logo h2{
    font-weight: 700;
}

.navbar-logo span{
    font-size: 14px;
    color: #6a5cff;
}
.navbar-search{
    flex: 1;
}
.navbar-search form{
    display: flex;
}

.navbar-search input{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    padding: 7px 14px;
    outline: none;
    border-right: none;
}
.navbar-search button{
    width: 35px;
    background-color: #6a5cff;
    border-radius: 0 8px 8px 0;
    border: 1px solid #ddd;
    border-left: none;
    color: white;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-search button:hover{
    background-color: #584BDB;
}

.navbar-search button:active{
    background-color: #4A3EC7;
}

.login-signup{
    display: flex;
    gap: 10px;
}

#log-in{
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color , border ,  0.2s ease ;
}
#log-in:hover{
    background-color: #F1F1FF;
    border: 1px solid #6A5CFF;
}

#sign-up{
    background-color: #6A5CFF ;
    padding: 6px 12px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease ;
}

#sign-up:hover{
    background-color: #584BDB;
}

.navbar-order{
    overflow: visible;
    width: 34px;
    border: 1px solid #ccc;
    height: 34px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.cart-count{
    position: absolute;
    right:-4px;
    bottom: -4px;
    background-color: #6A5CFF;
    color: white;
    border-radius: 999px;
    font-size: 10px;
    font-weight: 800;
    padding: 2px 6px;
}

.main-hero{
    display: flex;
    height: 230px;
    margin: 30px;
    background: linear-gradient(120deg,#6a5cff,#8f85ff);
    border-radius: 24px;
    position: relative;
}
.content{
    padding: 30px 40px;
}

.content h1{
    font-size: 34px;
    color: #F7F7F8;

}
.content p {
    color: rgba(255,255,255,0.85);
    max-width: 360px;

}

.bottom-slice{
    background-color: #F7F7F8;
    height: 45px;
    width: 170px;
    display: flex;
    position: absolute;
    bottom: 0;    
    right: 30px;
    align-self: center;
    border-radius: 12px 12px 0 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    flex: 1;

}



.bottom-slice::before{
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0px;
    width: 10px;
    height: 10px;
        background: radial-gradient(
        circle 10px at top right,
        transparent 98%,
        #F7F7F8 100%
    );

}

.bottom-slice::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: 0;
    background: radial-gradient(circle 10px at top left, transparent 98% , #F7F7F8 100% ) 

}

.accounts{
    background-color: #DAD7FF;
    width: 35px ;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.6s ease 0.2s;
}
.accounts:hover{
    transform: rotate(360deg) ;
}

.accounts a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-image {
    position: relative;
    display: flex;
    flex: 1;
    height: 180px;
    width: 220px;
}
.floating-image img{
    position: absolute;
    width: 220px;
    animation: move 7s ease infinite ;
    right: 0px;
    top: 0;
}

@keyframes move {
    0%{
        transform: translateY(0) rotate(0);
    }
    50%{
        transform: translateY(-10px) rotate(3deg);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
    
}


.products{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 20px;
    padding: 30px;
    background-color: #EFEFFD;
    
}

.product-card{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
    transition: transform 0.6s ease , box-shadow 0.6s ease;
}

.product-card:hover{
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.product-img{
    height: 160px;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img{
    transform: translateY(1px);
    filter:drop-shadow(0 0 2px rgba(0, 0, 0, 0.216) );
    width: 170px;
}



.product-card button{
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    background-color: #6A5CFF;
    font-weight: 600;
    opacity: 0;
    cursor: pointer;
    transition: .3s linear 0.1s;
}

.product-card:hover button{
    opacity: 1;
}


@media (max-width:480px) {

    .product-card button{
        opacity: 1;
    }

    .floating-image img{
        opacity: 0 ;
    }

    .login-signup {
        display: none;
    }
    .navbar-order{
        display: none;
    }
    .content h1{
        font-size: 26px;
    }
    
}